html {
  background-color: #FAF9F8;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #292827;
}

textarea {
  font-family: inherit;
}

.btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  padding: 8px 16px;
  cursor: pointer;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}